@use 'functions' as *;
@use 'vars' as *;

html, body {
    color: $preto;

    @include desktop{
        font-size: d(20);
    }

    @include tablet{
        font-size: t(18);
    }

    @include mobile{
        font-size: m(18);
    }

    *{
        color: inherit;
        font-size: inherit;
        font-family: 'DMSans', sans-serif;
        line-height: 1.4;
    }
}

.italic{
    font-style: italic;
}

.fw-900{ font-weight: 900; }
.fw-800{ font-weight: 800; }
.fw-700{ font-weight: 700; }
.fw-600{ font-weight: 600; }
.fw-500{ font-weight: 500; }
.fw-400{ font-weight: 400; }
.fw-300{ font-weight: 300; }
.fw-200{ font-weight: 200; }
.fw-100{ font-weight: 100; }

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

.uppercase{ text-transform: uppercase; }
.capitalize{ text-transform: capitalize; }

$fontSizes: 12, 14, 18, 20, 24, 32, 40, 52, 72;

@each $i in $fontSizes {
    .fs-#{$i} { font-size: d( $i ); }

    html{
        .fsm-#{$i} { 
            @include mobile{ font-size: m( $i ); }
            @include tablet{ font-size: t( $i ); }
        }
    }

}

.verdeTerreno, .verde-terreno{ color: $verdeTerreno; }
.verdeInovacao, .verde-inovacao{ color: $verdeInovacao; }
.cinzaUrbano, .cinza-urbano{ color: $cinzaUrbano; }
.cinzaSolidez, .cinza-solidez{ color: $cinzaSolidez; }
.azulSkyline, .azul-skyline{ color: $azulSkyline; }
.offWhite, .off-white{ color: $offWhite; }
.branco, .branco{ color: $branco; }
.preto, .preto{ color: $preto; }