$transicaoPagina: 0.5s;

// cores

$verdeTerreno: #0A544D;
$verdeInovacao: #ABE2B1;
$cinzaUrbano: #586058;
$cinzaSolidez: #2F302A;
$azulSkyline: #68D4FF;
$offWhite: #F7F6F5;
$branco: #fff;
$preto: #000;